body {
  margin: 0;
  padding: 0;
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
}

header {
  background: lightpink;
  padding: 2rem;
}

main {
  background: coral;
}

.parent {
  margin: 0;
}

footer {
  background: wheat;
  padding: 2rem;
  text-align: center;
}

body {
  font-family: system-ui, sans-serif;
}

/* Section 1 */

.section-slide {
  height: 100vh;
  background-image: url(images/background.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 50%;
  box-sizing: border-box;
}

.image-logo {
  width: 88px;
  height: 88px;
  margin: 50px auto 0;
  pointer-events: initial;
  object-fit: contain;
  background-size: contain;
  overflow: hidden;
  color: #111111;
  flex-shrink: 0;
  display: block;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: relative;
  border-style: none;
  box-sizing: border-box;
}

.big-text {
  text-shadow: 3px 3px 13px rgba(0, 0, 0, 0.25);
  font-size: 6rem;
  font-weight: 600;
  line-height: 1.2;
  font-family: Oswald, sans-serif;
  text-transform: none;
  margin: 7px auto 0;
  text-align: center;
}

.small-text {
  font-size: 1.125rem;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
  letter-spacing: 5px;
  font-weight: 600;
  width: 489px;
  margin: 33px auto 0;
  text-align: center;
}

.align-center {
  width: 590px;
  min-height: 81px;
  margin: 50px auto 0;
  display: flex;
  text-align: center;
}

.button-container {
  position: relative;
  flex: 1;
  max-width: 100%;
}

.image-man1 {
  pointer-events: initial;
  height: 493px;
  width: 916px;
  margin: 33px auto 0;
  object-fit: contain;
  background-size: contain;
  overflow: hidden;
  color: #111111;
  flex-shrink: 0;
  display: block;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: relative;
  border-style: none;
  box-sizing: border-box;
}

/* Section 2 */

.section-slide--section2 {
  background: rgb(140, 0, 255);
  color: rgb(0, 255, 0);
  position: relative;
  display: block;
  box-sizing: border-box;
}

.parent1 {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.box1 h3 {
  font-weight: 400;
  background-image: none;
  font-size: 1.875rem;
  margin: 0 auto 0 0;
  font-family: Oswald, sans-serif;
}

.box1-contain {
  position: relative;
  flex: 1;
  max-width: 100%;
  padding: 30px;
}

.box2-contain {
  position: relative;
  flex: 1;
  max-width: 100%;
  padding: 30px;
}

.image-man-radio {
  border-radius: 50%;
}

.box2 h3 {
  font-size: 1.875rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 36px auto 0 0;
}

.line {
  width: 200px;
  border-right-width: 0;
  border-left-width: 0;
  border-bottom-width: 0;
  border-style: solid;
}

/* Section 3 */

.section-slide--section3 {
  color: maroon;
}

/* Section 4 */

.section-slide--section4 {
  background: mediumseagreen;
  color: orchid;
}

/* Section 5 */

.section-slide--section5 {
  color: whitesmoke;
}

/* Section 6 */

.section-slide--section6 {
  background: slateblue;
  color: sienna;
}

/* Section 7 */

.section-slide--section7 {
  color: crimson;
}

#menuToggle {
  display: block;
  position: relative;
  top: 0px;
  left: 0px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: tomato;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
     * Just a quick hamburger
     */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
     * Transform all the slices of hamburger
     * into a crossmark.
     */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
     * But let's hide the middle one.
     */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
     * Ohyeah and the last one should go the other direction
     */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
     * Make this absolute positioned
     * at the top left of the screen
     */
#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

/*
     * And let's slide it in from the left
     */
#menuToggle input:checked ~ ul {
  transform: none;
}

.image-logo {
  width: 88px;
  height: 88px;
  margin: 50px auto 0;
  pointer-events: initial;
  object-fit: contain;
  background-size: contain;
  overflow: hidden;
  color: #111111;
  flex-shrink: 0;
  display: block;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: relative;
  border-style: none;
  box-sizing: border-box;
}

.big-text {
  text-shadow: 3px 3px 13px rgba(0, 0, 0, 0.25);
  font-size: 6rem;
  font-weight: 600;
  line-height: 1.2;
  font-family: Oswald, sans-serif;
  text-transform: none;
  margin: 7px auto 0;
  text-align: center;
}

.small-text {
  font-size: 1.125rem;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
  letter-spacing: 5px;
  font-weight: 600;
  width: 489px;
  margin: 33px auto 0;
  text-align: center;
}

.align-center {
  width: 590px;
  min-height: 81px;
  margin: 50px auto 0;
  display: flex;
  text-align: center;
}

.button-container {
  position: relative;
  flex: 1;
  max-width: 100%;
}

.image-man1 {
  pointer-events: initial;
  height: 493px;
  width: 916px;
  margin: 33px auto 0;
  object-fit: contain;
  background-size: contain;
  overflow: hidden;
  color: #111111;
  flex-shrink: 0;
  display: block;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: relative;
  border-style: none;
  box-sizing: border-box;
}
